.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.spacer {
    margin-bottom: 0.8%;
}
html, body {
	margin: 0;
	height: 100%;
	font-size: 95%;
	color: #FAC94C;
}
.slice {
	padding: 1% 1% 1% 1%;
	margin: 0% 0% 0%;
	width: 98%; /*100 - (margin-left + padding-left) - (margin-right + padding-right)*/
}
.box {
	padding: 0.5% 1% 0.5% 1%;
	margin-left: 0.15%;
	margin-right: 0.15%;
	width: 94%; /* 100 - (margin-left + padding-left) - (margin-right + padding-right)*/
	margin-bottom: 0.8%;
}
a:link, a:hover, a:visited, a:active {
	font-size: 100%;
	text-decoration: none;
}
.serif {
	font-family: "Times New Roman", Times, serif;
}
.sansserif {
	font-family: Arial, Helvetica, sans-serif;
}
.monospace {
	font-family: "Lucida Console", Courier, monospace;
}
/*display: inline-block,inline,block;*/
.layer0 {
	background-color: #2E3440;
}
.layer1 {
	background-color: #3B4252;
}
.layer2 {
	background-color: #434C5E;
}
.layer3 {
	background-color: #4C566A;
}
a:link, a:visited, a:active {
	color: #00ABF5;
}
a:hover {
	color: #BF616A;
}
