html {
	background-color: #1a1e26;
	/*background-image: url("rocket.jpg");
	background-repeat:no-repeat;
	background-position: center center;*/
}

html, body {
	margin: 0;
	padding: 0;
	color: #aaa;
}

.main {
	display: block;
	background-color: #15191f;
}

.item {
	display: inline;
	float: left;
}

.main ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main ul li {
    float: left;
}

.main ul li .item a, .main ul li .item a:visited {
	padding: 1em;
	display: block;
	text-decoration: none;
	color: #aaa;
}

.item:hover {
	background-color: #000;
}

.main hr {
	margin: 0;
}

.content, .content h1 {
	margin: 1%;
	padding: 0;
}

.content h1 {
	padding: 0;
	margin: 0;
}

.left {
	float: left;
	width: 60%;
}

.right {
	float: right;
	width: 36%;
}

.hrd {
	visibility: hidden;
}

@media (max-width : 499px) {
	.left {
		float: none;
		width: auto;
	}

	.right {
		float: none;
		width: auto;
	}

	.hrd {
		border: 3px solid #aaa;
		visibility: visible;
	}

	.main ul li .item a, .main ul li .item a:visited {
		padding: 0.5em;
	}
}

@media (prefers-color-scheme: light) {
	html {
		background-color: #eee;
	}
	.main {
		background-color: #ccc;
	}
	.main ul li .item a, .main ul li .item a:visited {
		color: #444;
	}
	.item:hover {
		background-color: #aaa;
	}
	html, body {
		color: #000;
	}
}
