html, body {
	margin: 0.25em;
	background-color: #ccd8ff;
	background-color: #f4ecd8;
	color: #5b4636;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	margin-top: 0;
	margin-bottom: 0.25em;
	padding: 0;
}

a {
	color: #00F;
	text-decoration: none;
}

a:visited {
	color: #0066BB;
}

hr {
	border-width: 0;
	height: 1px;
	background-color: #5b4636;
}
